[Desktop Entry]
Name=TkDVD
Comment=DVD writing program
Comment[pl]=Program do nagrywania płyt DVD
Exec=TkDVD
Icon=tkdvd
Terminal=false
Type=Application
Categories=AudioVideo;DiscBurning;
# vi: encoding=utf-8
